@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #ffffff;
  background-image: url("./img/bg-image.jpg");
  background-position: center;
  background-size: cover;
}

button {
  background-color: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

input {
  box-sizing: border-box;
}
